extends layout

block content
    script.
        function sprintToModal(obj) {
            var id = $(obj).text().split(" ")[3];
            $('#modalTitle').text('Sprint ' + id);
        }

        function fillSprintModal(sprint) {
            $('#modalTitle').text('Sprint ' + sprint.id + ' | ' + sprint.Project.name);
            
        }

    body
        main.container(role="main")
            .container.theme-showcase
                .page-header

                    .page-header
                        h3 List of all Sprints
                        .container
                            if(is_sm)
                                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                                    ul.navbar-nav.mr-auto
                                        li.nav-item
                                            a.nav-link(href='/sprints/create') Add new Sprint
                    hr

                    div.main.container
                        div.row
                            if sprints.length
                                div.col-md-12
                                    table.table.table-bordered.table-hover(summary="List of all Sprints")
                                        thead.thead-dark
                                            tr
                                                //th User ID
                                                th(scope="col") Sprint ID
                                                th(scope="col") Project name
                                                th(scope="col") Start date
                                                th(scope="col") End date
                                                th(scope="col") Velocity

                                                //th Edit
                                                th(scope="col") Options
                                        tbody
                                            each sprint in sprints
                                                tr
                                                    td #{sprint.id}
                                                    td
                                                        if moment().isBetween(moment(sprint.startDate), moment(sprint.endDate), 'days', '[]')
                                                            .p(style="color:green") #{sprint.Project.name} (Active)
                                                        else
                                                           .p #{sprint.Project.name}
                                                    td #{moment(sprint.startDate).format('DD.MM.YYYY')}
                                                    td #{moment(sprint.endDate).format('DD.MM.YYYY')}
                                                    td #{sprint.velocity}
                                                    td
                                                        //button(type="button" class="btn-primary btn" href='/sprints/'+ sprint.Project.id + '/addstories') Add stories
                                                        if isUser
                                                            a() Add stories
                                                        else
                                                            a(href='/sprints/'+ sprint.Project.id + '/addstories/' + sprint.id) Add stories

                        if !sprints.length
                            div.col-md-12
                                p Seems like you do not have any sprints.
                                p Enjoy your free day.
                    
                    div.modal.fade#addStories_modal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
                        //form.well.form-horizontal(method='POST' action=(toEditProject ? '/projects/'+ toEditProject.id + '/edit/' : '/projects/create'))
                        form.well.form-horizontal(method='POST')
                            div.modal-dialog(role="document")
                                div.modal-content
                                    div.modal-header
                                        h5.moda-title#modalTitle Modal title
                                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden="true") x
                                    .modal-body
                                        h6 Stories list
                                        hr
                                        select.custom-select#storiesList(name="Stories" multiple)
                                            option(value="") Placeholder
                                    div.modal-footer
                                        button.btn.btn-primary(type="submit" data-dismiss="modal") Save


