extends layout

block content
    body
        main.container(role="main")
            .container.theme-showcase
                .page-header
                    h3.ml-3.mb-3 Project: #{project.name} | Sprint: #{sprint.id}

                    .container
                        nav.navbar.navbar-expand-lg.navbar-light.bg-light
                            ul.navbar-nav.mr-auto
                                li.nav-item
                                    a.nav-link(href='/sprints')
                                        i.fas.fa-chevron-left
                                        |   Back

                    hr

                div.main.container
                    div.col-md-12

                        h6 Sprint Details
                        p.mb-0 Velocity: #{sprint.velocity} <br/>
                        p.mb-0 Start date: #{moment(sprint.startDate).format('DD.MM.YYYY')}
                        p.mb-0 End date: #{moment(sprint.endDate).format('DD.MM.YYYY')}
                        br
                        p.mb-0.font-italic #{project.description} <br/>

                        hr
                        h4(id="storiesDeck") Sprint backlog
                        br

                        if stories.length

                            div.card-deck
                                .card.border-secondary
                                    .card-header.alert-primary
                                        | Not Assigned
                                        .br
                                        small Uncompleted stories assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each task in tasks
                                                    a.list-group-item.list-group-item-action.flex-column.align-items-start
                                                        .d-flex.w-100.justify-content-between
                                                            p.mb-2 #{task.name}
                                                        small Description: #{task.description}
                                                        br
                                .card.border-secondary
                                    .card-header.alert-primary
                                        | Assigned
                                        .br
                                        small Uncompleted stories assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each task in tasks
                                                    a.list-group-item.list-group-item-action.flex-column.align-items-start
                                                        .d-flex.w-100.justify-content-between
                                                            p.mb-2 #{task.name}
                                                        small Description: #{task.description}
                                                        br
                                .card.border-secondary
                                    .card-header.alert-primary
                                        | In-progress
                                        .br
                                        small Uncompleted stories assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group

                                .card.border-secondary
                                    .card-header.alert-primary
                                        | Completed
                                        .br
                                        small Uncompleted stories assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                

                        if !stories.length
                            div.col-md-12
                                p Project does not have any tasks specified yet.

                        hr
                        h4(id="storiesDeck") Stories
                        br

                        if stories.length

                            div.card-deck
                                .card.border-secondary
                                    .card-header.alert-primary
                                        | Assigned
                                        .br
                                        small Uncompleted stories assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each story in stories
                                                    if(!story.is_done && story.sprint_id != null)
                                                        a.list-group-item.list-group-item-action.flex-column.align-items-start
                                                            .d-flex.w-100.justify-content-between
                                                                p.mb-2 #{story.name}
                                                            small Description: #{story.description}
                                                            br
                                                            small Acceptance criteria: #{story.acceptanceCriteria}
                                                            br
                                                            small Importance: #{story.importance}
                                                            br
                                                            small Business value: #{story.businessValue}
                                                            br
                                                            small Time complexity: #{story.timeComplexity}
                                                            br
                                .card.border-secondary
                                    .card-header.alert-success
                                        | Completed
                                        .br
                                        small Completed and Accepted Stories
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each story in stories
                                                    if story.is_done
                                                        a.list-group-item.list-group-item-action.flex-column.align-items-start
                                                            .d-flex.w-100.justify-content-between
                                                                p.mb-2 #{story.name}
                                                            small Description: #{story.description}
                                                            br
                                                            small Acceptance criteria: #{story.acceptanceCriteria}
                                                            br
                                                            small Importance: #{story.importance}
                                                            br
                                                            small Business value: #{story.businessValue}
                                                            br
                                                            small Time complexity: #{story.timeComplexity}
                                                            br

                        if !stories.length
                            div.col-md-12
                                p Project does not have any tasks specified yet.

    script.
        showMore = document.getElementById('showMore');
        function toggleShownStories() {
            var elements = document.getElementsByClassName("wontHaveThisTime");

            for(var i=0; i<elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                    showMore.innerText = ' Show less'
                } else {
                    elements[i].style.display = "none";
                    showMore.innerText = ' Show more'
                }
            }
        }
        showMore.onclick = toggleShownStories;
        
        function editStory(projectId, storyId) {
            location.href = "/stories/" + projectId + "/edit/" + storyId
        }

        function enterTimeComplexity(projectId, storyId) {
            location.href = "/stories/" + projectId + "/estimate/" + storyId
        }

        function addTasks(projectId, storyId) {
            location.href = "/tasks/task/" + storyId + "/create"

        }
