extends layout

block content

    body
        main.container(role="main")
            .container.theme-showcase
                .page-header
                    .page-header
                        h3.ml-3.mb-3 #{story.name}

                        .container
                            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                                ul.navbar-nav.mr-auto
                                    li.nav-item
                                        a.nav-link(href='/projects/' + project.id + '/view')
                                            i.fas.fa-chevron-left
                                            |   Project
                                        li.nav-item
                                            a.nav-link(href='/tasks/stories/'+ story.id + '/create') Add Task
                        hr
                div.main.container

                    div.row
                        div.col-md-12
                            if tasks.length
                                h2 Current tasks
                                hr
                                each task in tasks
                                    
                                    ul.list-group
                                        if task.AssignedUser
                                            a.list-group-item.list-group-item-action(href='/tasks/stories/' + story.id + '/edit/' + task.id) #{task.name} | Time estimate: #{task.time} | Assigned: #{task.AssignedUser.name}
                                        else
                                            a.list-group-item.list-group-item-action(href='/tasks/stories/' + story.id + '/edit/' + task.id) #{task.name} | Time estimate: #{task.time} | Not Assigned
                            else        
                                p Seems like you do not have any tasks.
                                p Enjoy your free day.
                                
                                
                                


